<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Screeny template</title>
    <style>
        *, *::before, *::after {
            box-sizing: border-box;
            margin: 0;
        }
        html,
        body {
            padding: 0;
            -webkit-font-smoothing: antialiased;
        }
        html {
            background: #000;
            height: 100%;
            width: 100%;
        }
        body {
            background: #fff;
            height: 1072px;
            width: 1448px;
        }
    </style>
</head>
<body>

</body>
</html>